@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Outfit:wght@100..900&family=Pirata+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    aliasing: antialiased;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('assets/images/night_ship_admin.jpg');
    background-size:auto;
    background-repeat: no-repeat;
}
.navbar {
    position: relative;
    margin-left: 1.5em;
    margin-top: 0.5em;
    letter-spacing: 1.8px;
    user-select: none;
}
.navbar a{
    z-index: 10000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.bannerImage {
    z-index: 100;
    position: absolute;
  top: -80%;
  left: 50%;
  transform: translate(-50%, 0);
    max-width: 32vw;
}

.hackwave {
    color: #fff;
    font-size: 4rem;
    font-weight: 400;
    font-family: "Pirata One", cursive;
}
.noticeBoardActualImage {
    position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
}







/* .noticeboard {
    position: relative;
    overflow: hidden;
  } */
  
  /* .noticeBoardImage {
    background-image: url('assets/images/your-background-image.jpg');
    background-size: cover;
    background-position: center;
  } */
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  .slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .slider-nav button {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .slide-content {
    position: absolute;
    bottom: 0;
    font-size: 100px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
  }
  