@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Outfit:wght@100..900&family=Pirata+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    aliasing: antialiased;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('assets/images/night_ship_admin.jpg');
    background-size:auto;
    background-repeat: no-repeat;
}
.navbar {
    position: relative;
    margin-left: 1.5em;
    margin-top: 0.5em;
    letter-spacing: 1.8px;
    user-select: none;
}
.navbar a{
    z-index: 10000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.bannerImage {
    z-index: 100;
    position: absolute;
  top: -80%;
  left: 50%;
  transform: translate(-50%, 0);
    max-width: 32vw;
}

.hackwave {
    color: #fff;
    font-size: 4rem;
    font-weight: 400;
    font-family: "Pirata One", cursive;
}
.noticeBoardActualImage {
    position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  z-index: -1!important;
}


.slider {
    
    z-index: 10000000;
    color: #fff;
}
.slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.slider .slide p{
    font-family: 'Lato', sans-serif;
    margin-bottom: 1rem;
}

.slider .slide span{
    font-size: 0.8rem;
}
.slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
.slider-dots{
    margin-top: 3rem;
}
.slider-dots button{
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: grey;
    border-radius: 50px;
    cursor: pointer;
}
.dots li.slick-active button{
    background: white;
    width: 45px;
}
/* 
.noticeBoardActualImage{
    
} */

.noticeBoard{
    max-width: 70vw;
    text-align: center;
    text-wrap: wrap;
}

.noticeboardmain{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 60vw;
    z-index: 100;
}

.bannerText{
    position: absolute;
    font-family: Pirata One;
    color: #fadec4;
    font-weight: 400;
    margin-top: 1.3vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 60vw;
    z-index: 100;
    font-size: 3.5em;
}